<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    header {
      background-color: #E4E4E4;
      width: 100%;
      padding: 10px;
      color: #114F73;
      text-align: center;
    }

    footer {
      background-color: #E4E4E4;
      width: 100%;
      padding: 10px;
      color: #114F73;
      text-align: right;
    }

    footer h3 {
      margin-right: 15px;
    }

    main {
      width: 90%;
      text-align: center;
      margin: 20px;
    }

    .title {
      margin: 15px 0;
    }
  </style>
</head>

<body>
  <header>
    <h2 class="title">{{{subject}}}</h2>
  </header>
  <main>
    <p>Hello {{{name}}}, we have seen that you have contacted us requesting the recovery of your account, recover through this <a href="{{{link}}}">link</a>.</p>
  </main>
  <footer>
    <h3>Sincerely, Cross api support</h3>
  </footer>
</body>

</html>